*.iml
/.gradle
/.idea
/gradle
/local.properties
/build.gradle

/build
/captures
.externalNativeBuild
.cxx
.DS_Store

gradle.properties
local.properties
gradlew
gradlew.bat
settings.gradle

/app/build.gradle
/app/proguard-rules.pro